## Importing the required modules

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge

In [2]:
xls1 = pd.read_excel("C:/Users/MyPc/Desktop/hifx/data/2013_manhattan.xls")
xls2 = pd.read_excel("C:/Users/MyPc/Desktop/hifx/data/2014_manhattan.xls")
xls3 = pd.read_excel("C:/Users/MyPc/Desktop/hifx/data/2015_manhattan.xls")
xls4 = pd.read_excel("C:/Users/MyPc/Desktop/hifx/data/2016_manhattan.xls")
xls5 = pd.read_excel("C:/Users/MyPc/Desktop/hifx/data/2017_manhattan.xls")

df1 = pd.DataFrame(xls1)
df2 = pd.DataFrame(xls2)
df3 = pd.DataFrame(xls3)
df4 = pd.DataFrame(xls4)
df5 = pd.DataFrame(xls5)

### Understanding the data

In [3]:
df = [df1,df2,df3,df4,df5]
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26715 entries, 0 to 26714
Data columns (total 21 columns):
BOROUGH
                           26715 non-null int64
NEIGHBORHOOD
                      26715 non-null object
BUILDING CLASS CATEGORY
           26715 non-null object
TAX CLASS AT PRESENT
              26715 non-null object
BLOCK
                             26715 non-null int64
LOT
                               26715 non-null int64
EASE-MENT
                         26715 non-null object
BUILDING CLASS AT PRESENT
         26715 non-null object
ADDRESS
                           26715 non-null object
APARTMENT NUMBER
                  26715 non-null object
ZIP CODE
                          26715 non-null int64
RESIDENTIAL UNITS
                 26715 non-null int64
COMMERCIAL UNITS
                  26715 non-null int64
TOTAL UNITS
                       26715 non-null int64
LAND SQUARE FEET
                  26715 non-null int64
GROSS SQUARE FEET
                 26715 non-null int64
YEAR BUILT
                        26715 non-null int64
TAX CLASS AT TIME OF SALE
         26715 non-null int64
BUILDING CLASS AT TIME OF SALE
    26715 non-null object
SALE PRICE
                        26715 non-null int64
SALE DATE
                         26715 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(12), object(8)
memory usage: 4.3+ MB

In [4]:
df5.describe(include='all').T

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
BOROUGH\n,18642,NaN,NaN,NaN,NaN,NaN,1,0,1,1,1,1,1
NEIGHBORHOOD\n,18642,39,UPPER EAST SIDE (59-79),1934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BUILDING CLASS CATEGORY\n,18642,43,13 CONDOS - ELEVATOR APARTMENTS,7666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TAX CLASS AS OF FINAL ROLL 17/18,18642,9,2,15470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BLOCK\n,18642,NaN,NaN,NaN,NaN,NaN,1114.28,533.091,7,790,1171,1453,2250
LOT\n,18642,NaN,NaN,NaN,NaN,NaN,776.612,938.36,1,29,1003,1209,9099
EASE-MENT\n,18642,1,,18642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BUILDING CLASS AS OF FINAL ROLL 17/18,18642,125,R4,7170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ADDRESS\n,18642,11617,50 WEST STREET,155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
APARTMENT NUMBER\n,18642,2461,,10399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZIP CODE\n,18642,NaN,NaN,NaN,NaN,NaN,9945.89,920.357,0,10013,10022,10028,10463
RESIDENTIAL UNITS\n,18642,NaN,NaN,NaN,NaN,NaN,1.94614,20.8029,0,0,0,1,1641
COMMERCIAL UNITS\n,18642,NaN,NaN,NaN,NaN,NaN,0.213657,4.25508,0,0,0,0,422
TOTAL UNITS\n,18642,NaN,NaN,NaN,NaN,NaN,2.19885,21.3885,0,0,1,1,1653
LAND SQUARE FEET\n,18642,NaN,NaN,NaN,NaN,NaN,486.836,5233.49,0,0,0,0,364000
GROSS SQUARE FEET\n,18642,NaN,NaN,NaN,NaN,NaN,2968.43,41687.3,0,0,0,0,2.224e+06
YEAR BUILT\n,18642,NaN,NaN,NaN,NaN,NaN,1684.52,671.921,0,1910,1932,1971,2017
TAX CLASS AT TIME OF SALE\n,18642,NaN,NaN,NaN,NaN,NaN,2.11882,0.530686,1,2,2,2,4
BUILDING CLASS AT TIME OF SALE\n,18642,124,R4,7666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SALE PRICE\n,18642,NaN,NaN,NaN,NaN,NaN,2.52554e+06,2.08741e+07,0,299250,840000,1.9e+06,2.21e+09
SALE DATE\n,18642,315,2017-08-07 00:00:00,201,2017-01-01 00:00:00,2017-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### working on data

In [7]:
for ifg in df:
    
    ls1 = ifg['NEIGHBORHOOD\n'].unique()
    lsdict={}
    a=0
    for i in ls1:
        lsdict[i]=a+1
        a=a+1
    lsdict 

    ifg['NEIGHBORHOOD\n'] = ifg['NEIGHBORHOOD\n'].map(lsdict)
    ifg['BUILDING CLASS CATEGORY\n']=ifg['BUILDING CLASS CATEGORY\n'].str[:2]
    ifg['BUILDING CLASS CATEGORY\n']=ifg['BUILDING CLASS CATEGORY\n'].astype(int)
    ifg['NEIGHBORHOOD\n'].value_counts()

In [8]:
dfi =[df1,df2,df3,df4]
for i in dfi:
    ls=i['BUILDING CLASS AT PRESENT\n'].unique()
    lsd={}
    a=0
    for ai in ls:
        lsd[ai]=a+1
        a=a+1
    i['BUILDING CLASS AT PRESENT\n']=i['BUILDING CLASS AT PRESENT\n'].map(lsd)

In [9]:
df5['BUILDING CLASS AT PRESENT\n']=df5['BUILDING CLASS AS OF FINAL ROLL 17/18']
ls=df5['BUILDING CLASS AT PRESENT\n'].unique()
lsd={}
a=0
for ai in ls:
    lsd[ai]=a+1
    a=a+1
df5['BUILDING CLASS AT PRESENT\n']=df5['BUILDING CLASS AT PRESENT\n'].map(lsd)

In [30]:
df_train=df1.append(df2)
df_train=df_train.append(df3)
df_train=df_train.append(df4)
df_train=df_train.append(df5)

In [31]:
feature_cols = ['NEIGHBORHOOD\n','BUILDING CLASS CATEGORY\n','BUILDING CLASS AT PRESENT\n','LAND SQUARE FEET\n','BLOCK\n','LOT\n','RESIDENTIAL UNITS\n','COMMERCIAL UNITS\n','TOTAL UNITS\n','LAND SQUARE FEET\n','GROSS SQUARE FEET\n','YEAR BUILT\n']
x=df_train[feature_cols]
y=df_train['SALE PRICE\n']

### Splitting the train and test datas

In [73]:
xTrain, xTest, yTrain, yTest = train_test_split(x, y, train_size = 0.87, random_state = 0)

### Fitting the model

In [74]:
lr=LinearRegression()
lr.fit(xTrain,yTrain)
rr=Ridge(alpha=0.1)
rr.fit(xTrain,yTrain)

Ridge(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [75]:
yPredict=lr.predict(xTest)
yp=rr.predict(xTest)

In [76]:
print(lr.score(xTest,yTest))
print(rr.score(xTest,yTest))

0.811481807436
0.812764173806

In [82]:
yPredict.reshape(-1,1)

array([[-2042616.26689247],
       [ -363998.68825924],
       [ -396192.87667219],
       ...,
       [  286999.3811049 ],
       [  754824.87404657],
       [  819457.46675951]])

In [80]:
xTest['Predicted Values']=yPredict.reshape(-1,1)

C:\Users\MyPc\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [84]:
xTest

,NEIGHBORHOOD,BUILDING CLASS CATEGORY,BUILDING CLASS AT PRESENT,LAND SQUARE FEET,BLOCK,LOT,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,Predicted Values,Original Values
14568,26,45,97,0,1006,1303,0,0,1,0,0,1963,-2.042616e+06,39374
20700,36,9,15,0,1123,18,0,0,0,0,0,1900,-3.639987e+05,0
17004,33,10,16,0,1391,31,0,0,0,0,0,1949,-3.961929e+05,1600000
6702,15,9,9,0,2084,16,0,0,0,0,0,1900,7.886290e+05,107800
9599,25,13,13,0,1344,1322,1,0,1,0,0,2007,1.520959e+06,2171273
545,2,10,13,0,798,26,0,0,0,0,0,1909,9.648778e+05,1300000
19237,32,10,12,0,1453,1,0,0,0,0,0,1963,-1.275164e+05,675000
3029,9,13,11,0,856,1290,1,0,1,0,0,1900,2.276819e+06,1900000
7795,21,10,16,0,331,1,0,0,0,0,0,1929,3.899753e+04,975000
600,2,13,18,0,699,1259,1,0,1,0,0,2009,1.951080e+06,1765000
5563,13,10,10,0,1829,33,0,0,0,0,0,1925,7.499231e+05,380000
15647,32,13,15,0,1438,903,1,0,1,0,0,0,1.853842e+06,0
11386,26,45,102,0,1006,1302,0,0,1,0,0,1963,-2.388562e+06,78305
13538,26,45,71,0,1006,1302,0,0,1,0,0,0,9.212328e+05,18850
2349,7,43,49,0,809,1008,0,0,1,0,0,1960,1.733604e+06,7736303
3287,10,10,10,0,875,47,0,0,0,0,0,1956,8.757943e+05,865000
9043,25,13,15,0,1341,1535,1,0,1,0,0,1984,1.636615e+06,950000
5539,13,7,4,2498,1756,8,20,0,20,2498,10070,1926,6.461681e+06,9760852
17,1,7,5,4452,398,53,36,3,39,4452,17664,1900,1.106759e+07,0
24934,39,10,11,0,2180,633,0,0,0,0,0,1951,3.912398e+05,558388
8506,24,43,49,0,1296,1106,0,0,1,0,0,1955,1.220614e+06,0
20551,33,13,13,0,1539,1468,1,0,1,0,0,1986,1.403842e+06,976594
18473,33,14,19,1575,1452,104,6,1,7,1575,5600,1910,1.411047e+06,7291250
7305,19,13,18,0,943,1388,1,0,1,0,0,0,2.674442e+06,0
12485,32,10,8,0,1451,23,0,0,0,0,0,1963,1.731484e+05,0
14348,26,45,97,0,1006,1303,0,0,1,0,0,1963,-2.042616e+06,45000
7436,19,13,18,0,968,1229,1,0,1,0,0,1984,1.310475e+06,1150000
11715,26,25,60,7532,1009,37,0,2,2,7532,112850,2007,1.928366e+07,42400
11834,26,26,43,7532,1009,37,0,2,2,7532,112850,2007,2.041415e+07,0
11257,26,45,102,0,1006,1302,0,0,1,0,0,1963,-2.388562e+06,44612
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4551,12,13,11,0,631,1203,1,0,1,0,0,1895,2.077819e+06,2138325
18099,31,15,19,0,141,1004,1,0,1,0,0,1886,5.255088e+05,0
17198,36,10,8,0,1225,55,0,0,0,0,0,1914,9.816047e+04,1690500
7826,21,31,20,0,412,19,0,0,0,0,0,0,-1.535972e+05,17375000
21181,33,10,12,0,1525,15,0,0,0,0,0,1930,-1.297994e+05,687500
12753,26,28,47,0,1265,1075,0,1,1,0,0,0,-8.315599e+05,0
1332,4,13,13,0,173,1107,1,0,1,0,0,1924,2.114002e+06,900000
2276,8,10,11,0,28,1,0,0,0,0,0,1926,8.630975e+05,875000
15299,35,7,2,2554,1163,42,7,2,9,2554,8324,1900,3.567751e+06,15200000
8671,25,10,10,0,1366,16,0,0,0,0,0,1956,2.869994e+05,661862
5701,13,7,4,2498,2032,5,10,0,10,2498,9500,1920,4.779075e+06,0
14055,26,45,79,0,1027,1223,0,0,1,0,0,0,2.801469e+05,100
14010,26,45,79,0,1027,1216,0,0,1,0,0,0,2.722664e+05,19071
26132,38,3,2,1474,2118,58,3,0,3,1474,3256,1905,1.918662e+06,705000
15745,26,45,71,0,1027,1349,0,0,1,0,0,0,9.737066e+05,10
3383,9,13,18,0,856,1348,1,0,1,0,0,1912,1.852202e+06,3985000
9991,27,10,8,0,895,66,0,0,0,0,0,1931,4.334704e+05,600000
20227,33,10,11,0,1589,41,0,0,0,0,0,1951,-4.543621e+04,1100000
5092,13,13,11,0,1746,1104,1,0,1,0,0,2007,1.840018e+06,1600000
8945,25,10,11,0,1361,39,0,0,0,0,0,1957,2.434354e+05,775000
22559,35,17,17,0,1158,1208,0,0,0,0,0,1963,4.215825e+05,600000
2084,7,8,30,4542,754,19,37,0,37,4542,24617,1987,1.046891e+07,22450272
19410,33,10,11,0,1492,69,0,0,0,0,0,1926,3.032358e+03,1375000
20390,33,13,13,0,1518,1028,1,0,1,0,0,1962,9.232662e+05,0
9572,26,10,10,0,1007,54,0,0,0,0,0,1923,3.207187e+05,950000
21413,33,10,12,0,1555,23,0,0,0,0,0,1980,-1.512685e+05,390000
17835,35,7,3,1456,1162,124,7,0,7,1456,4686,1900,2.766047e+06,3939000
8679,25,10,10,0,1366,16,0,0,0,0,0,1956,2.869994e+05,0
17225,33,13,15,0,1531,1025,1,0,1,0,0,2007,7.548249e+05,3390000
3954,11,10,10,0,555,28,0,0,0,0,0,1965,8.194575e+05,1795000

In [83]:
xTest['Original Values']= yTest.reshape(-1,1)

C:\Users\MyPc\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  if __name__ == '__main__':
C:\Users\MyPc\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [85]:
xTest.to_csv('C:/Users/MyPc/Desktop/hifx/data/output.csv')